/* Wow, I got really lucky with these colors;
   light and dark mode have perfect inverses,
   and it's entirely made up of named colors! */

:root {
  --b: antiquewhite;
  --f: darkslategray;
  --h: deeppink;
  --l: royalblue;
}

@media (prefers-color-scheme: dark) {
  :root {
    --b: black;
    --f: blanchedalmond;
    --h: hotpink;
    --l: cornflowerblue;
  }
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  color-scheme: light dark;
  font-family: "EB Garamond", serif;
  background-color: var(--b);
  font-size: 13pt;
  color: var(--f);
}

h1, h2, h3 {
  font-family: "Libre Caslon Text", serif;
  color: var(--h);
  font-weight: normal;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  font-variant: all-small-caps;
  text-decoration-style: double;
}

a {
  color: var(--l);
  text-underline-offset: 3px;
}

header {
  position: sticky;
  top: 0;
  background-color: var(--b);
  padding: 7px 0;
  border-bottom: 1px solid currentColor;
}

header, footer {
  font-family: "Mako", sans-serif;
  font-optical-sizing: auto;
}

nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1em;
  list-style-type: none;
}

nav ul > :first-child {
  flex: 1 0 auto;
}

aside {
  padding-left: 1em;
  border-left: 2px solid var(--h);
}

footer {
  padding-top: 1em;
  font-size: 75%;
}

main li {
  margin: .25em 0;
}

body {
  max-width: 30rem;
  width: 90%;
  margin: 0 auto 3em;
}

img {
  max-width: 100%;
}

.currentblog {
  font-weight: bold;
}
