html {
  font-family: "EB Garamond", serif;
  background-color: blanchedalmond;
  font-size: 13pt;
  color: darkslategray;
}

h1, h2, h3 {
  font-family: "Libre Caslon Text", serif;
  color: sienna;
  font-weight: normal;
}

a {
  color: mediumvioletred;
}

header {
  display: flex;
  justify-content: space-between;
}

header > :first-child {
  font-weight: bold;
}

nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1em;
  list-style-type: none;
}

footer {
  border-top: 1px solid currentColor;
  padding-top: 1em;
  font-size: 75%;
}

body > * {
  max-width: 60em;
  width: 95%;
  margin: 1em auto;
}

img {
  max-width: 100%;
}
