
html {
  --bgcolor: blanchedalmond;
  --hdcolor: darkolivegreen;
  --fgcolor: black;
  --lncolor: green;
}

@media (prefers-color-scheme: dark) {
  html {
    --bgcolor: black;
    --hdcolor: wheat;
    --fgcolor: darkgrey;
    --lncolor: seagreen;
  }
}

html {
  font-family: "Cormorant Garamond", serif;
  background-color: var(--bgcolor);
  color: var(--fgcolor);
}

h1, h2, h3 {
  font-family: "Libre Caslon Text", serif;
  color: var(--hdcolor);
  font-weight: normal;
}

a {
  color: var(--lncolor);
}

header {
  display: flex;
  justify-content: space-between;
}

nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1em;
  list-style-type: none;
}

footer {
  border-top: 1px solid currentColor;
  padding-top: 1em;
  font-size: 75%;
}

body > * {
  max-width: 60em;
  width: 90%;
  margin: 1em auto;
}

img {
  max-width: 100%;
}
